.imgContainer{
    margin-top: -79px;
    height: 700px;
    width: 100%;
    /* filter: brightness(0.5); */
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/0279102c-4f3f-4ed2-a283-cce57434d595/PK-en-20240520-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.navbtn{
    background: #e61c1c;
    color: white
}

.navstyle{
    color: red;
    font-size: xx-large;
    font-family: emoji;
    padding-left: 500px;
    padding-right: 500px; 
}

.navcontainer{
   
    background-color: transparent !important;
}
