.imgContainer{
    margin-top: -79px;
    height: 700px;
    width: 100%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/0279102c-4f3f-4ed2-a283-cce57434d595/PK-en-20240520-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}


.navbtn {
    background: #e61c1c;
    color: white;
    /* padding: 4px 17px; */
    border-radius: 7px;
    border: none;
    font-size: medium;
    font-family: emoji;
    margin-left: 343px;
    margin-right: 343px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 32px;
    width: 71px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.navstyle{
    color: red;
    font-size: xx-large;
    font-family: emoji;
    padding-left: 343px;
    padding-right: 343px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navcontainer{
    background-color: transparent !important;
}
.SignupText{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.SignupTextDiv{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 190px;
}
.SignupForm{
    /* width: 364px;
    height: 37px;
    background-color: #e2e2e2; */
}
.SignUpBtn{

}