.imgContainer{
    margin-top: -79px;
    height: 700px;
    width: 100%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/0279102c-4f3f-4ed2-a283-cce57434d595/PK-en-20240520-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.navdiv{
    

}

.navbtn {
   padding-left: 116px;
   padding-right: 116px;
}

.navstyle{
    color: red;
    font-size: 55px;
    font-family: emoji;
    padding-left: 341px;
    padding-right: 343px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.navcontainer{
    background-color: transparent !important;
}
.SignupText{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.SignupTextDiv{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.SignupForm{
    width: 284px;
    height: 42px;
    background: #e2dfdf;
}
.SignUpBtn{
    background: red;
    color: white;
    height: 40px;
    width: 143px;
    margin: 4px;
    /* border-radius: 7px; */
    border: none;
    font-size: larger;
}