.container{
    display: flex;
    flex-direction: row;
    background: black;
}
.Profileimg{
    width: 2000px;
    height: 600px;
    padding-left: 324px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Profilediv{
    color: white;
    padding-bottom: 216px;
    padding-top: 185px;
    padding-left: 0px;
    padding-right: 156px;
}