.navbtn{
    background: #e61c1c;
    color: white
}

.navstyle{
    color: red;
    font-size: xx-large;
    font-family: emoji;
}
.navcontainer{
    padding-left: 350px;
    padding-right: 350px;
    background-color: transparent !important;
}