.container{
   /* width:1000px;
   margin: 0 auto;  */
   background:black; 
}

.faqh1{
   padding-left: 600px;
   padding-right: 600px;
   padding-bottom: 5px;
   padding-top: 17px;
}
.SignUpBtn{
   background: red;
   color: white;
   height: 40px;
   width: 143px;
   margin: 4px;
   /* border-radius: 7px; */
   border: none;
   font-size: larger;
}

.SignupText{
   color: white;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
}

.SignupForm{
   width: 284px;
   height: 42px;
   background: #e2dfdf;
}
.signupwithbtn{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
}