.wcontainer{
    background: black;
    color: white;
    width: 100%;
    height: 358px;
    padding-bottom: 200px;
    padding-top: 150px;
    padding-left: 475px;;
}

.Watchhead1{
    font-size: 67px;
}
.Watchhead3{
    width: 480px;
}